<div class="container pt-2">
  <ng-container *ngIf="!waiting && !errorMessage">
    <form [formGroup]="serviceNewForm" (ngSubmit)="send()" class="w-75 mx-auto">
      <h4>Crear Nuevo Servicio</h4>
      <small class="text-body-secondary"
        >Cada servicio que pueda ofrecer debe ser registrado por separado.
        Coloque un nombre claro y preciso. En la descripción puede colocar las
        caracteristicas más importantes de su servicio.
      </small>
      <hr />

      <div class="mb-3 form-floating">
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              hasErrors('title', 'required') || hasErrors('title', 'minlength')
          }"
          formControlName="title"
          placeholder="Reparacion de Portatiles"
        />
        <label for="title" class="form-label">Titulo</label>
        <div class="text-danger" *ngIf="hasErrors('title', 'required')">
          Por favor ingrese el Título del Servicio.
        </div>
        <div class="text-danger" *ngIf="hasErrors('title', 'minlength')">
          El Título no puede ser tan corto.
        </div>
      </div>

      <div class="mb-3 form-floating">
        <select
          class="form-select"
          formControlName="service_type_id"
          id="serviceType"
        >
          <option value="">Seleccionar</option>
          @for (type of serviceTypes; track $index) {
          <option value="{{ type.id }}">{{ type.name }}</option>
          }
        </select>
        <label for="serviceType" class="form-label">Tipo de Servicio</label>
      </div>

      <div class="mb-3 form-group">
        <div class="container">
          <div class="row">
            <div class="col my-1">
              <label for="image">Fotos del Servicio:</label>
            </div>
          </div>
        </div>
        <div class="container text-center">
          <div class="row mx-auto justify-content-center">
            <div class="col-md-auto col-lg-3 my-1">
              <image-upload
                (imageBase64Loaded)="imageBase64LoadedListener($event, 0)"
              />
            </div>
            <div class="col-md-auto col-lg-3 my-1">
              <image-upload
                (imageBase64Loaded)="imageBase64LoadedListener($event, 1)"
              />
            </div>
            <div class="col-md-auto col-lg-3 my-1">
              <image-upload
                (imageBase64Loaded)="imageBase64LoadedListener($event, 2)"
              />
            </div>
            <div class="col-md-auto col-lg-3 my-1">
              <image-upload
                (imageBase64Loaded)="imageBase64LoadedListener($event, 3)"
              />
            </div>
          </div>
          <div class="row">
            <div *ngIf="imagesInvalid()" class="alert alert-danger">
              Al menos una imagen es requerida.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 form-floating">
        <textarea
          class="form-control"
          placeholder="Describa su servicio aqui"
          id="description"
          style="height: 40rem"
          [ngClass]="{
            'is-invalid':
              hasErrors('description', 'required') ||
              hasErrors('description', 'minlength')
          }"
          formControlName="description"
        ></textarea>
        <label for="description" class="form-label">Descripción</label>
        <div class="text-danger" *ngIf="hasErrors('description', 'required')">
          Por favor ingrese una Descripción para el Servicio.
        </div>
        <div class="text-danger" *ngIf="hasErrors('description', 'minlength')">
          La descripción no puede ser tan corta.
        </div>
      </div>
      <div class="mb-3 form-floating">
        <input
          type="number"
          class="form-control invalid"
          [ngClass]="{ 'is-invalid': hasErrors('price', 'required') }"
          id="price"
          placeholder="Precio en su moneda"
          formControlName="price"
        />
        <label for="price" class="form-label">Precio</label>
        <div class="text-danger" *ngIf="hasErrors('price', 'required')">
          Debe ingresar un Precio para el Servicio.
        </div>
      </div>
      <div class="text-end">
        <button class="btn btn-primary" [disabled]="formInvalid()">
          Salvar
        </button>
      </div>
    </form>
  </ng-container>
  <div *ngIf="waiting" class="mx-auto text-center">
    <i [ngStyle]="{ color: 'green' }">{{ waitingMessage }}</i>
  </div>
  <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
    {{ errorMessage }}
  </div>
</div>
