<div class="container pt-2">
  <ng-container *ngIf="!waiting && !errorMessage">
    <div *ngIf="message" class="alert alert-success" role="alert">
      {{ message }}
    </div>
    <div class="row mx-auto">
      @for (service of servicesList; track $index) {
      <div class="col my-1">
        <div
          class="card list-item mx-auto h-100"
          style="width: 16rem"
          [routerLink]="['/services', service.id]"
        >
          <img [src]="[service?.url]" class="card-img-top mx-auto" alt="..." />
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-center">
              <b class="card-title my-0 text-center">{{ service.title }}</b>
            </div>
            <hr />
            <small class="text-body-secondary"
              >{{ service.description | slice : 0 : 40
              }}{{ service.description.length > 40 ? "..." : "" }}</small
            >
          </div>
          <div class="card-footer d-flex justify-content-end">
            <b class="font-weight-bold text-nowrap"
              >U$S {{ service.price | number }}</b
            >
          </div>
        </div>
      </div>
      }
    </div>
  </ng-container>
  <div *ngIf="waiting" class="mx-auto text-center">
    <i [ngStyle]="{ color: 'green' }">{{ waitingMessage }}</i>
  </div>
  <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
    {{ errorMessage }}
  </div>
</div>
