.list-item {
  color: #424242;
  background-color: #ffffff;
  border: 1px solid #838685;
}

.nav-link:hover,
.nav-link:focus,
.page-link:hover,
.page-link:focus {
  cursor: pointer;
  font-weight: bold;
}

img {
  max-height: 16rem;
  max-width: 15rem;
  width: fit-content;
  vertical-align: middle;
}
