.list-item {
  color: #424242;
  background-color: #ffffff;
  border: 1px solid #838685;
}

.list-item:hover,
.list-item:focus,
.list-item:active,
.list-item.active,
.open > .dropdown-toggle.list-item {
  color: #424242;
  background-color: #b7b8b8;
  border-color: #989a9a;
}

img {
  max-height: 16rem;
  max-width: 15rem;
  width: fit-content;
  vertical-align: middle;
}
