<div class="container-fluid">
  <div class="row">
    <div class="col p-0">
      <div class="d-flex justify-content-center py-2" id="logo-bar">
        <img src="./assets/logo-earthquake-tiny.png" alt="..." />
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand p-0" id="menu-bar">
  <ul class="navbar-nav w-100 justify-content-end">
    <li class="nav-item">
      <a class="nav-link text-primary text-nowrap" routerLink="**">Home</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
