<div class="container-fluid w-100 p-0">
  <div class="row">
    <div class="col-6 p-0">
      <div class="d-flex justify-content-start ps-4 py-2" id="logo-bar">
        <img
          src="./assets/logo-super-oficios-transparente-tiny.png"
          alt="..."
        />
      </div>
    </div>
    <div class="col-6 p-0" id="user-bar">
      <div
        *ngIf="hasValidSession()"
        class="d-flex justify-content-end ps-4 h-100 pe-4 align-items-center"
      >
        Hola, {{ userName() | titlecase }}
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand" id="search-bar">
  <div class="container-fluid text-center">
    <div class="row w-100 justify-content-center mx-auto">
      <div class="col-12 col-sm-9">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Buscar"
            aria-label="Buscar"
          />
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>
      </div>
      <div class="col text-end">
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="navbar-collapse collapse w-100 order-3 dual-collapse2"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav w-100 justify-content-center">
              <li class="nav-item">
                <a class="nav-link text-primary text-nowrap" routerLink=""
                  >Inicio</a
                >
              </li>
              <ng-container *ngIf="hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="services-list"
                    >Mis servicios</a
                  >
                </li>
              </ng-container>

              <ng-container *ngIf="hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="service-new"
                    >Nuevo Servicio</a
                  >
                </li>
              </ng-container>

              <ng-container *ngIf="!hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="register"
                    >Registrarse</a
                  >
                </li>
              </ng-container>
              <ng-container *ngIf="!hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="login"
                    >Iniciar Sesión</a
                  >
                </li>
              </ng-container>
              <ng-container *ngIf="hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="logout"
                    >Salir</a
                  >
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
