<div class="container pt-2">
  <ng-container *ngIf="!waiting && !errorMessage">
    <form [formGroup]="commentNewForm" (ngSubmit)="send()" class="w-75 mx-auto">
      <h4>New Comment</h4>
      <small class="text-body-secondary"
        >Please add a comment about the earthquake event.
      </small>
      <hr />

      <div class="mb-3 form-floating">
        <textarea
          class="form-control"
          placeholder="Add a comment here"
          id="body"
          style="height: 20rem"
          [ngClass]="{
            'is-invalid':
              hasErrors('body', 'required') || hasErrors('body', 'minlength')
          }"
          formControlName="body"
        ></textarea>
        <label for="body" class="form-label">Comment</label>
        <div class="text-danger" *ngIf="hasErrors('body', 'required')">
          Please add a body to the Comment.
        </div>
        <div class="text-danger" *ngIf="hasErrors('body', 'minlength')">
          The comment body is too short.
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" (click)="back()">Back</button>
        <button class="btn btn-primary" [disabled]="formInvalid()">Send</button>
      </div>
    </form>
  </ng-container>
  <div *ngIf="waiting" class="mx-auto text-center">
    <i [ngStyle]="{ color: 'green' }">{{ waitingMessage }}</i>
  </div>
  <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
    {{ errorMessage }}
  </div>
</div>
